:root {
  /* Colors */
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-navy-color: #2e2f42;
  --slate-color: #434455;
  --light-slate-color: #8e8f99;
  --white-color: #ffffff;
  --cloud-color: #f4f4fd;
  --cornflower-color: #e7e9fc;

  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/* Base styles */
body {
  font-family: var(--main-font);
  color: var(--slate-color);
  background-color: var(--white-color);
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */
.section {
  padding: 120px 0;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--cornflower-color);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

/* Logo */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}

.logo-studio-header {
  color: var(--dark-navy-color);
}

.logo-studio-footer {
  color: var(--cloud-color);
}

/* Navigation */
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-navy-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  position: relative;
}

.nav-link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--pressed-state-color);
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: var(--pressed-state-color);
}

/* Contacts */
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  letter-spacing: 0.02em;

  color: var(--slate-color);
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--pressed-state-color);
}

/* Hero */
.hero {
  background-color: var(--dark-navy-color);
  padding: 188px 0;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* Features */
.features-list {
  display: flex;
  gap: 24px;
}

.features-list li {
  width: calc((100% - 72px) / 4);
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--dark-navy-color);
}

.features-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--slate-color);
}

/* Team */
.team {
  background-color: var(--cloud-color);
}

.team-content {
  padding: 32px 0;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-navy-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.team-text {
  margin-bottom: 32px;
  text-align: center;
}

/* Portfolio */
.portfolio-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower-color);
  border-top: none;
}

.portfolio-title {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list li {
  width: calc((100% - 48px) / 3);
}

.portfolio-subtitle {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
}

.portfolio-text {
  margin-bottom: 32px;
}

/* Footer */
.page-footer {
  padding: 100px 0;
  background-color: var(--dark-navy-color);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--cloud-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
